body{
    height: 100%;
}

footer{
    color: white;
    background-color: grey;
    padding: 15px 15px 15px 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

#social{
    margin: 15px 0;
}